.container {
    width: 100%;
    margin: 0 auto;
}

.selected {
}

.unselected {
    
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    animation-name: changeColor;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes changeColor {
    100% {
        background-color: rgb(54, 54, 54);
        
    }
}

.betslipSelected {
    float: right;
    width: 20%;
    height: 100vh;
    animation-name: changeWidth;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes changeWidth {
    100% {
        width: 70%;
    }
}

.hidden {
    width: 0%;
}

